<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h3>Thank you for your business!</h3>
    <p>We charged your credit card for ${{previous.total_price}}</p>
    <p>You have ordered #{{totalorders}} items so far and spent ${{totalspent}} with Amadon.com!</p>
    <a href="/" class="badge badge-primary">Go Back</a>
</body>
</html>